.navbar{
  background-color: #a4fcad;
}

.newsletter {
  margin-top: 2%;
  padding: 80px 0;
  background: #dbdbdb;
  color: #669174;
}

.newsletter .newsletter>.content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.btn {
    background: #669174;
    font-weight: 300;
    color: white;
}
.btn:hover {
    background: #4f705a;
}

#main-content{
  padding-left: 1%;
  padding-right: 1%;
}

#navLogo{
  height: 50px;
  width: auto;
}
#contact, #contact-address{
  padding: 0;
  margin-bottom: 2%;
  border: 1px solid;
  border-color: #DCDCDC;
}
#social{
  text-align: center;
  margin-bottom: 2%;
}
#contact-form, #contact-address-details{
  padding: 2%;
}
#contact-form-heading, #contact-address-heading{
  width: 100%;
  color: white;
  padding-left: 1em;
}
#contact-form-heading{
  background-color: #007bff;
}
#contact-address-heading{
  background-color: #28A742;
}

.jumbotron {
  position: relative;
  background-image: url("../images/natural-climate-change.jpeg");
  background-size: cover;
  background-position: bottom;
  min-height: 500px;
}
#heading {
  color: blue;
  background-color: #a4fcad;
  position: absolute;
  bottom: 0;
}
.card-img-top{
  height: 45%;
}
.accordion{
  margin-top: 5px;
}
#goals, .list-group-item {
  background-color: #a4fcad;
  color: blue;
  font-size: 1.1em;
}
.list-group-item{
  border-style: none;
  text-align: center;
}
#goals{
  margin-top: 10px;
  text-align: left;
}
